{% extends "layouts/base.html" %}

{% block content %}
  <main>
    <div class="section pb-2 bg-primary text-white header-list">
      <div class="container">
        <h2>{% block list_title %}{% endblock %} ({{ object_list.count }})</h2>
        {% for message in messages %}
          <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="section section-md pt-3">
      <div class="container">
        <div class="d-flex gap-3">
          {% include "includes/search_form.html" %}
        </div>
        <div class="d-flex justify-content-between align-items-baseline">
          <div class="d-flex gap-3">
            {% include "includes/sort_dropdown.html" %}
            {% include "includes/filters.html" %}
          </div>
          <a href="{% block create_url %}#{% endblock %}" class="btn btn-success text-white">
            {% block create_title %}Create{% endblock %}
          </a>
        </div>
        <table class="table">
          <thead class="table-dark">
          <tr>
            {% block table_headers %}
            {% endblock %}
          </tr>
          </thead>
          <tbody>
          {% block table_rows %}
          {% endblock %}
          </tbody>
        </table>
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </main>
{% endblock content %}
