{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center gap-3">
    <h2>{{ team.name }}</h2>
    <a href="#" class="btn btn-outline-primary">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
  </div>
  <h3>Team members</h3>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Full name</th>
      <th scope="col">Position</th>
      <th scope="col">Tasks</th>
    </tr>
    </thead>
    <tbody>
    {% for member in team.members.all %}
      <tr>
        <th scope="row">{{ member.id }}</th>
        <td>{{ member.username }}</td>
        <td>{{ member.first_name }} {{ member.last_name }}</td>
        <td>{{ member.position.name }}</td>
        <td>Num of tasks</td> {# TODO num of tasks for each worker #}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
