{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center gap-3">
    <h2>{{ team.name }}</h2>
    <a href="{% url 'tasks:team-update' team.id %}" class="btn btn-outline-primary">Edit</a>
    <a href="{% url 'tasks:team-delete' team.id %}" class="btn btn-danger">Delete</a>
  </div>
  <h3>Team members ({{ team.members.count }})</h3>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Full name</th>
      <th scope="col">Position</th>
      <th scope="col">Tasks</th>
    </tr>
    </thead>
    <tbody>
    {% for member in team.members.all %}
      <tr>
        <th scope="row">{{ member.id }}</th>
        <td><a href="{% url 'tasks:worker-detail' member.id %}">{{ member.username }}</a></td>
        <td>{{ member.first_name }} {{ member.last_name }}</td>
        <td><a href="#">{{ member.position.name }}</a></td>
        <td>{{ member.tasks.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
