{% extends "layouts/base.html" %}

{% block content %}
  <main>
    <div class="section pb-2 bg-primary text-white header-list">
      <div class="container d-flex justify-content-between">
        <h2>{{ worker.first_name }} {{ worker.last_name }}</h2>
        <div>
          <a href="{% url 'tasks:worker-update' worker.id %}" class="btn btn-outline-success me-3">Edit</a>
          <a href="{% url 'tasks:worker-delete' worker.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
    <div class="section section-md pt-3">
      <div class="container">
        <div class="alert alert-tertiary">
          <strong>Username:</strong> {{ worker.username }}
          <br>
          <strong>E-mail:</strong> {{ worker.email }}
          <br>
          <strong>Position:</strong>
          <a href="{% url 'tasks:position-detail' worker.position.id %}" class="text-decoration-underline">
            {{ worker.position.name }}
          </a>
        </div>
        <h3>Member of teams</h3>
        <table class="table table-striped">
          <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          {% for team in worker.teams.all %}
            <tr>
              <th scope="row">{{ team.id }}</th>
              <td><a href="{% url 'tasks:team-detail' team.id %}" class="text-decoration-underline">
                {{ team.name }}
              </a></td>
            </tr>
          {% empty %}
            <tr>
              <th colspan="100%" scope="row" class="text-center">There are no teams at this moment.</th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <h3>{{ worker.first_name }} {{ worker.last_name }}'s tasks</h3>
        <table class="table table-striped">
          <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Deadline</th>
          </tr>
          </thead>
          <tbody>
          {% for task in worker.tasks.all %}
            <tr class="{% if task.is_completed %}table-success{% endif %}">
              <th scope="row">{{ task.id }}</th>
              <td><a href="{% url 'tasks:task-detail' task.id %}" class="text-decoration-underline">
                {{ task.name }}
              </a></td>
              <td><a href="{% url 'tasks:tasktype-detail' task.task_type.id %}" class="text-decoration-underline">
                {{ task.task_type }}
              </a></td>
              <td>{{ task.priority.title }}</td>
              <td>{{ task.deadline }}</td>
            </tr>
          {% empty %}
            <tr>
              <th colspan="100%" scope="row" class="text-center">There are no tasks at this moment.</th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock content %}
