{% extends "layouts/base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center gap-3">
    <h2>{{ worker.first_name }} {{ worker.last_name }}</h2>
    <a href="{% url 'tasks:worker-update' worker.id %}" class="btn btn-outline-primary">Edit</a>
    <a href="{% url 'tasks:worker-delete' worker.id %}" class="btn btn-danger">Delete</a>
  </div>
  <p><strong>Username:</strong> {{ worker.username }}</p>
  <p><strong>E-mail:</strong> {{ worker.email }}</p>
  <p><strong>Position:</strong>
    <a href="{% url 'tasks:position-detail' worker.position.id %}">{{ worker.position.name }}</a>
  </p>
  <h3>Member of teams</h3>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    {% for team in worker.teams.all %}
      <tr>
        <th scope="row">{{ team.id }}</th>
        <td><a href="{% url 'tasks:team-detail' team.id %}">{{ team.name }}</a></td>
      </tr>
    {% empty %}
      <tr>
        <th colspan="100%" scope="row" class="text-center">There are no teams at this moment.</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h3>Worker's tasks</h3>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
    </tr>
    </thead>
    <tbody>
    {% for task in worker.tasks.all %}
      <tr class="{% if task.is_completed %}table-success{% endif %}">
        <th scope="row">{{ task.id }}</th>
        <td>{{ task.name }}</td>
        <td><a href="{% url 'tasks:tasktype-detail' task.task_type.id %}">{{ task.task_type }}</a></td>
        <td>{{ task.priority.title }}</td>
        <td>{{ task.deadline }}</td>
      </tr>
    {% empty %}
      <tr>
        <th colspan="100%" scope="row" class="text-center">There are no tasks at this moment.</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
